[submodule "vendor/epresent"]
	path = vendor/epresent
	url = git://github.com/eschulte/epresent.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "vendor/highlight-indentation-for-emacs"]
	path = vendor/highlight-indentation-for-emacs
	url = git://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "vendor/fill-column-indicator"]
	path = vendor/fill-column-indicator
	url = git://github.com/alpaker/Fill-Column-Indicator.git
[submodule "vendor/snippets/text-mode/haskell-mode"]
	path = vendor/snippets/text-mode/haskell-mode
	url = git://github.com/rmies/yasnippet-haskell.git
[submodule "vendor/emacs-pry"]
	path = vendor/emacs-pry
	url = git://github.com/jacott/emacs-pry.git
[submodule "vendor/git-wip"]
	path = vendor/git-wip
	url = git://github.com/bartman/git-wip.git
