*~
elpa/*
ac-comphist.dat
tramp
abbref_defs
.DS_Store
.smex-items
places
url/*
*.elc
/bookmarks
history
/.emacs.keyfreq
/.recentf
/.org-id-locations
web-vcs-log.org
projectile-bookmarks.eld
/projectile.cache
/elisp/*.elc
/org-init/*.el
/org-init/*.elc
/org-init/toby@*
/html/*.html
/var/
/ido.last
/recentf
/eshell/
/.mc-lists.el
image-dired/
games
